Duncan Robertson <whomwah@70f6ffcc-3070-48c7-8e95-2772f12856e8>
Björn Blomqvist <darwin.git@marianna.se>
José Luis Honorato <jlhonora@ing.puc.cl>
Ferdinand Rosario <ferdinandrosario@users.noreply.github.com>
Nicolò Gnudi <nick.gnd@gmail.com>
James Neal <laen@oshpark.com>
